<div class="jumbotron">
	<h1>About US</h1>
	<p>We are working on our One Month Rails Pinteresting app</p>
</div>

<div class="jumbotron">
	<h1>With the full understanding that We have super powers...</h1>
	<p>We intend to take over the world through a series of kind acts until all the big meanie faces fall to their doom and succumb to our gentle and peaceful way...</p>
	</div>

<div class="jumbotron">
	<h2>In the meantime...</h2> 
	<p>We very much like to dress nicely. For the latest cool fashions go to <%= link_to "ralphlauren.com", "https://www.ralphlauren.com", class: "btn btn-primary" %></p>
</div>
