
      
      


<div class="container step-container">
  <div class="wistia_embed" id="wistia_54x10slkcu"><script src="https://fast.wistia.net/static/E-v1.js"></script><script>
//<![CDATA[
wistiaEmbed = Wistia.embed("54x10slkcu", {
          videoFoam: true,
          videoWidth: 1920,
          videoHeight: 1080,
          videoQuality: 'hd-only',
          plugin: {
            midrollLinks: {
              src:"https://fast.wistia.com/labs/mid-roll-links/plugin.js"
            }
          }
        });
//]]>
</script></div>


      <div class="step-info">
        <h3 class="list-group-item-heading step-title">
          <span class="step-number">1. </span>
          How it Starts! 
          <span class="list-group-item-text step-description length">00:50</span>
          <small></small>
        </h3>
        <p class="list-group-item-text step-description">Let&#39;s check in with each other... (hope you&#39;re sitting down for this).</p>
      </div>
</a></div><div class="step" id="step_79">
    <a class="list-group-item" href="/steps/what-we-ll-be-making-pinteresting">
      <div class="step-progress-indicator complete ">
        <span class="step-progress-indicator-icon complete "></span>
      </div>

      <div class="step-info">
        <h3 class="list-group-item-heading step-title">
          <span class="step-number">2. </span>
          What We&#39;ll Be Making
          <span class="list-group-item-text step-description length">02:13</span>
          <small></small>
        </h3>
        <p class="list-group-item-text step-description">A quick overview of what we&#39;ll be making in this class.</p>
      </div>
</a></div><div class="step" id="step_78">
    <a class="list-group-item" href="/steps/install-rails">
      <div class="step-progress-indicator complete ">
        <span class="step-progress-indicator-icon complete "></span>
      </div>

      <div class="step-info">
        <h3 class="list-group-item-heading step-title">
          <span class="step-number">3. </span>
          Installing Rails
          <span class="list-group-item-text step-description length">00:51</span>
          <small></small>
        </h3>
        <p class="list-group-item-text step-description">How to install rails using InstallRails.com and RailsInstaller.</p>
      </div>
</a></div><div class="step" id="step_80">
    <a class="list-group-item" href="/steps/sanity-check">
      <div class="step-progress-indicator complete ">
        <span class="step-progress-indicator-icon complete "></span>
      </div>
