<div class="container">

  <div class="row">

   

        
    <div class="col-md-3">

      <h1><%= link_to "WhATT up!", "#" %></h1>
    <p>To change one item’s position, all items in the list that follow it must have their position updated also. Once you have more than a few items in your database, changing their order ends up being very expensive and slow. There has to be a better way!</p>
       <%= link_to "Read More", "#", class: "btn btn-primary btn-md" %>

            </div>
          </div>
       </div>